### Models with unscaled data (Decision Tree & Random Forest)

In [1]:
import pandas as pd
import numpy as np
import warnings as wn
wn.filterwarnings('ignore')

In [2]:
df=pd.read_csv("C:\\Users\\ADMIN\\Desktop\\Project\\df_us.csv")
df.head()

,Unnamed: 0,Region_East,Region_North,Region_North East,Region_North West,Region_South,Region_South East,Region_South West,Region_West,State_Andhra Pradesh,...,TV_2001_Issue,TV_2002_Issue,TV_2003_Issue,Claim_Value,Service_Centre,Product_Age,Purchased_from,Call_details,Purpose,Fraud
0,0,0,0,0,0,1,0,0,0,0,...,1,2,0,15000.0,10,60.0,2,0.5,1,1
1,1,0,0,0,0,1,0,0,0,0,...,0,0,0,20000.0,12,10.0,0,1.0,1,0
2,2,0,1,0,0,0,0,0,0,0,...,0,0,0,18000.0,14,10.0,0,1.4,0,0
3,3,0,0,0,0,1,0,0,0,0,...,1,1,0,12000.0,16,20.0,2,2.0,1,0
4,4,0,0,1,0,0,0,0,0,0,...,0,1,2,25000.0,15,6.0,0,1.3,0,0

In [3]:

df=df.drop(df.columns[0], axis = 1) 
df.head()

,Region_East,Region_North,Region_North East,Region_North West,Region_South,Region_South East,Region_South West,Region_West,State_Andhra Pradesh,State_Assam,...,TV_2001_Issue,TV_2002_Issue,TV_2003_Issue,Claim_Value,Service_Centre,Product_Age,Purchased_from,Call_details,Purpose,Fraud
0,0,0,0,0,1,0,0,0,0,0,...,1,2,0,15000.0,10,60.0,2,0.5,1,1
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,20000.0,12,10.0,0,1.0,1,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,18000.0,14,10.0,0,1.4,0,0
3,0,0,0,0,1,0,0,0,0,0,...,1,1,0,12000.0,16,20.0,2,2.0,1,0
4,0,0,1,0,0,0,0,0,0,0,...,0,1,2,25000.0,15,6.0,0,1.3,0,0

In [4]:
x=df.iloc[:,0:71]
y=df.iloc[:,-1]

# Handeling imbalanced data

In [5]:
# we are checking fraud and non fraud entries
fraud=df[df["Fraud"]==1]
non_fraud=df[df["Fraud"]==0]

In [6]:
# here we get total no of fraud and non fraud entries 
# from here it is clear that data is imbalanced
(fraud.shape, non_fraud.shape)

((35, 72), (323, 72))

In [7]:
from imblearn.over_sampling import SMOTE

In [8]:
# implimenting SMOTE for handlling imbalanced data
smt=SMOTE(random_state=40)
x_res, y_res=smt.fit_resample(x,y)

In [9]:
(x_res.shape, y_res.shape)

((646, 71), (646,))

# Data frame of Balanced data

In [10]:
smote_df=pd.concat([x_res,y_res], axis=1)
smote_df.head()

,Region_East,Region_North,Region_North East,Region_North West,Region_South,Region_South East,Region_South West,Region_West,State_Andhra Pradesh,State_Assam,...,TV_2001_Issue,TV_2002_Issue,TV_2003_Issue,Claim_Value,Service_Centre,Product_Age,Purchased_from,Call_details,Purpose,Fraud
0,0,0,0,0,1,0,0,0,0,0,...,1,2,0,15000.0,10,60.0,2,0.5,1,1
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,20000.0,12,10.0,0,1.0,1,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,18000.0,14,10.0,0,1.4,0,0
3,0,0,0,0,1,0,0,0,0,0,...,1,1,0,12000.0,16,20.0,2,2.0,1,0
4,0,0,1,0,0,0,0,0,0,0,...,0,1,2,25000.0,15,6.0,0,1.3,0,0

In [11]:
smote_df.shape

(646, 72)

In [12]:
smote_df["Fraud"].value_counts()

1    323
0    323
Name: Fraud, dtype: int64

In [48]:
smote_df["City_Hyderabad"].nunique()

2

In [50]:
smote_df.nunique()

Region_East            2
Region_North           2
Region_North East      2
Region_North West      2
Region_South           2
                    ...
Product_Age          432
Purchased_from         3
Call_details         272
Purpose                3
Fraud                  2
Length: 72, dtype: int64

## Feature selection with Recursive Feature Elimination

In [13]:
X=smote_df.iloc[:,0:71]
Y=smote_df.iloc[:,-1]

In [14]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression




# feature extraction
model = LogisticRegression()
rfe = RFE(model,n_features_to_select=40, step=1 )
fit = rfe.fit(X, Y)
sel_feature_rfe=fit.get_support()

selected_features_rfe=X.columns[sel_feature_rfe]
selected_features_rfe

Index(['Region_North', 'Region_North East', 'Region_North West',
       'Region_South', 'Region_South East', 'Region_South West', 'Region_West',
       'State_Andhra Pradesh', 'State_Bihar', 'State_Delhi', 'State_Goa',
       'State_Jharkhand', 'State_Karnataka', 'State_Kerala', 'State_Orissa',
       'State_Rajasthan', 'State_Tamil Nadu', 'State_Uttar Pradesh',
       'State_West Bengal', 'City_Ahmedabad', 'City_Bangalore',
       'City_Bhubaneswar', 'City_Chennai', 'City_Delhi', 'City_Hyderabad',
       'City_Jaipur', 'City_Kochi', 'City_Kolkata', 'City_Mumbai',
       'City_New Delhi', 'City_Panaji', 'City_Patna', 'City_Ranchi',
       'City_Vadodara', 'City_Vijayawada', 'Consumer_profile',
       'Product_category', 'Product_type', 'Purchased_from', 'Purpose'],
      dtype='object')

In [15]:

len(selected_features_rfe)

40

In [16]:
data_rfe=pd.DataFrame(smote_df[selected_features_rfe])
data_rfe.head(2)

,Region_North,Region_North East,Region_North West,Region_South,Region_South East,Region_South West,Region_West,State_Andhra Pradesh,State_Bihar,State_Delhi,...,City_Panaji,City_Patna,City_Ranchi,City_Vadodara,City_Vijayawada,Consumer_profile,Product_category,Product_type,Purchased_from,Purpose
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,2,1
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [17]:
dataset=pd.concat([data_rfe,smote_df["Fraud"]], axis=1)
dataset.head(2)

,Region_North,Region_North East,Region_North West,Region_South,Region_South East,Region_South West,Region_West,State_Andhra Pradesh,State_Bihar,State_Delhi,...,City_Patna,City_Ranchi,City_Vadodara,City_Vijayawada,Consumer_profile,Product_category,Product_type,Purchased_from,Purpose,Fraud
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2,1,1
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

##### Declairation of x and y of selected feature by using RFE

In [18]:
x1=dataset.iloc[:,0:40]
y1=dataset.iloc[:,-1]

### Feature Selection by using Lasso method

In [19]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

In [20]:
## First I specify the Lasso regression model
## then i select a suitable alpha (equivalent of penelty)
## then i use selectfrom model from sklearn so as to select the features with non-zero coefficients
feature_select_model=SelectFromModel(Lasso(alpha=0.003, random_state=0))
feature_select_model.fit(X, Y)

SelectFromModel(estimator=Lasso(alpha=0.003, random_state=0))

In [21]:
## List of selected features
selected_features=X.columns[feature_select_model.get_support()]
selected_features

Index(['Region_East', 'Region_North', 'Region_North East', 'Region_North West',
       'Region_South', 'Region_South East', 'Region_South West', 'Region_West',
       'State_Andhra Pradesh', 'State_Bihar', 'State_Delhi', 'State_Karnataka',
       'State_Kerala', 'State_Maharashtra', 'State_Orissa', 'State_Tamil Nadu',
       'State_West Bengal', 'City_Ahmedabad', 'City_Bangalore',
       'City_Bhubaneswar', 'City_Chennai', 'City_Hyderabad', 'City_Kochi',
       'City_Kolkata', 'City_Mumbai', 'City_Vadodara', 'Area',
       'Consumer_profile', 'Product_category', 'Product_type', 'AC_1001_Issue',
       'AC_1002_Issue', 'AC_1003_Issue', 'TV_2001_Issue', 'TV_2002_Issue',
       'TV_2003_Issue', 'Service_Centre', 'Product_Age', 'Purchased_from',
       'Call_details', 'Purpose'],
      dtype='object')

In [22]:
len(selected_features)

41

In [23]:
data5=pd.DataFrame(smote_df[selected_features])
data5.head(2)

,Region_East,Region_North,Region_North East,Region_North West,Region_South,Region_South East,Region_South West,Region_West,State_Andhra Pradesh,State_Bihar,...,AC_1002_Issue,AC_1003_Issue,TV_2001_Issue,TV_2002_Issue,TV_2003_Issue,Service_Centre,Product_Age,Purchased_from,Call_details,Purpose
0,0,0,0,0,1,0,0,0,0,0,...,0,0,1,2,0,10,60.0,2,0.5,1
1,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,12,10.0,0,1.0,1

In [24]:
data5.shape

(646, 41)

In [25]:
dataset2=pd.concat([data5, smote_df["Fraud"]],axis=1)
dataset2.head(2)

,Region_East,Region_North,Region_North East,Region_North West,Region_South,Region_South East,Region_South West,Region_West,State_Andhra Pradesh,State_Bihar,...,AC_1003_Issue,TV_2001_Issue,TV_2002_Issue,TV_2003_Issue,Service_Centre,Product_Age,Purchased_from,Call_details,Purpose,Fraud
0,0,0,0,0,1,0,0,0,0,0,...,0,1,2,0,10,60.0,2,0.5,1,1
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,12,10.0,0,1.0,1,0

In [26]:
x2=dataset2.iloc[:,0:41]
y2=dataset2.iloc[:,-1]

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.2, random_state=0, stratify=Y)
(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)

((516, 71), (130, 71), (516,), (130,))

In [28]:
x1_train, x1_test, y1_train, y1_test=train_test_split(x1,y1,test_size=0.2, random_state=0, stratify=y1)
(x1_train.shape, x1_test.shape, y1_train.shape, y1_test.shape)

((516, 40), (130, 40), (516,), (130,))

In [29]:
x2_train, x2_test, y2_train, y2_test=train_test_split(x2,y2,test_size=0.2, random_state=0, stratify=y2)
(x2_train.shape, x2_test.shape, y2_train.shape, y2_test.shape)

((516, 41), (130, 41), (516,), (130,))

# Model building

## Decision Tree

In [30]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, accuracy_score
from sklearn.model_selection import GridSearchCV, cross_val_score
X=smote_df.iloc[:,0:71]
Y=smote_df.iloc[:,-1]

In [31]:
# for hyper parameter tunning Grid Search CV

def gridsearchCV(X,Y):
    param = {'criterion':["entropy", "gini"], 'max_depth':np.arange(1,10,1)}
    clf = GridSearchCV(DecisionTreeClassifier(), param, cv=5)
    clf.fit(X,Y)
    return clf.best_score_, clf.best_params_

In [32]:
gridsearchCV(X_train,Y_train)

(0.8507841672890215, {'criterion': 'gini', 'max_depth': 7})

In [33]:
def predict_model(model,X_train,X_test,Y_train,Y_test):
    model.fit(X_train,Y_train)
    
    y_pred_train=model.predict(X_train)
    accuracy=np.round(accuracy_score(Y_train, y_pred_train)*100,2)
    print("Training accuracy {} %".format(accuracy))
    print(" ")
    print(classification_report(Y_train,y_pred_train))
    
    y_pred_test=model.predict(X_test)
    accuracy=np.round(accuracy_score(Y_test, y_pred_test)*100,2)
    print("Testing accuracy {} %".format(accuracy))
    print(" ")
    print(classification_report(Y_test,y_pred_test))
    results=cross_val_score(model,X,Y, cv=10)
    print("cross_val accuracy {} %".format(results.mean()*100,2))

### Mpdel accuracy with all features

In [34]:
model=DecisionTreeClassifier(criterion='gini', max_depth=8)
predict_model(model,X_train,X_test,Y_train,Y_test)

Training accuracy 96.71 %

              precision    recall  f1-score   support

           0       0.95      0.98      0.97       258
           1       0.98      0.95      0.97       258

    accuracy                           0.97       516
   macro avg       0.97      0.97      0.97       516
weighted avg       0.97      0.97      0.97       516

Testing accuracy 87.69 %

              precision    recall  f1-score   support

           0       0.88      0.88      0.88        65
           1       0.88      0.88      0.88        65

    accuracy                           0.88       130
   macro avg       0.88      0.88      0.88       130
weighted avg       0.88      0.88      0.88       130

cross_val accuracy 83.74759615384615 %

### Model accuracy by using RFE features

In [35]:
x1=dataset.iloc[:,0:40]
y1=dataset.iloc[:,-1]
gridsearchCV(x1_train,y1_train)

(0.8488237490664675, {'criterion': 'entropy', 'max_depth': 9})

In [36]:
model=DecisionTreeClassifier(criterion='entropy', max_depth=9)
predict_model(model,x1_train,x1_test,y1_train,y1_test)

Training accuracy 93.99 %

              precision    recall  f1-score   support

           0       0.92      0.97      0.94       258
           1       0.96      0.91      0.94       258

    accuracy                           0.94       516
   macro avg       0.94      0.94      0.94       516
weighted avg       0.94      0.94      0.94       516

Testing accuracy 86.15 %

              precision    recall  f1-score   support

           0       0.87      0.85      0.86        65
           1       0.85      0.88      0.86        65

    accuracy                           0.86       130
   macro avg       0.86      0.86      0.86       130
weighted avg       0.86      0.86      0.86       130

cross_val accuracy 84.06971153846155 %

### Model accuracy with Lasso Features

In [37]:
x2=dataset2.iloc[:,0:41]
y2=dataset2.iloc[:,-1]

gridsearchCV(x2_train,y2_train)

(0.8255974607916355, {'criterion': 'gini', 'max_depth': 9})

In [38]:
model=DecisionTreeClassifier(criterion='gini',max_depth=9)
predict_model(model,x2_train,x2_test,y2_train,y2_test)

Training accuracy 96.9 %

              precision    recall  f1-score   support

           0       0.96      0.98      0.97       258
           1       0.98      0.96      0.97       258

    accuracy                           0.97       516
   macro avg       0.97      0.97      0.97       516
weighted avg       0.97      0.97      0.97       516

Testing accuracy 89.23 %

              precision    recall  f1-score   support

           0       0.92      0.86      0.89        65
           1       0.87      0.92      0.90        65

    accuracy                           0.89       130
   macro avg       0.89      0.89      0.89       130
weighted avg       0.89      0.89      0.89       130

cross_val accuracy 85.61538461538461 %

# Random Forest

In [39]:
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestClassifier

### Model accuracy with all features

In [40]:
X=smote_df.iloc[:,0:71]
Y=smote_df.iloc[:,-1]

In [41]:
model=RandomForestClassifier(n_estimators=100, max_features=10)
predict_model(model,X_train,X_test,Y_train,Y_test)

Training accuracy 97.87 %

              precision    recall  f1-score   support

           0       0.97      0.99      0.98       258
           1       0.99      0.97      0.98       258

    accuracy                           0.98       516
   macro avg       0.98      0.98      0.98       516
weighted avg       0.98      0.98      0.98       516

Testing accuracy 95.38 %

              precision    recall  f1-score   support

           0       0.94      0.97      0.95        65
           1       0.97      0.94      0.95        65

    accuracy                           0.95       130
   macro avg       0.95      0.95      0.95       130
weighted avg       0.95      0.95      0.95       130

cross_val accuracy 92.11778846153847 %

### Model accuracy with RFE features

In [42]:
x1=dataset.iloc[:,0:40]
y1=dataset.iloc[:,-1]

In [43]:
model=RandomForestClassifier(n_estimators=100, max_features=10)
predict_model(model,x1_train,x1_test,y1_train,y1_test)

Training accuracy 96.9 %

              precision    recall  f1-score   support

           0       0.96      0.98      0.97       258
           1       0.98      0.96      0.97       258

    accuracy                           0.97       516
   macro avg       0.97      0.97      0.97       516
weighted avg       0.97      0.97      0.97       516

Testing accuracy 93.08 %

              precision    recall  f1-score   support

           0       0.92      0.94      0.93        65
           1       0.94      0.92      0.93        65

    accuracy                           0.93       130
   macro avg       0.93      0.93      0.93       130
weighted avg       0.93      0.93      0.93       130

cross_val accuracy 91.95913461538461 %

### Model accuray with Lasso features

In [44]:
x2=dataset2.iloc[:,0:41]
y2=dataset2.iloc[:,-1]

In [45]:
model=RandomForestClassifier(n_estimators=100, max_features=10)
predict_model(model,x2_train,x2_test,y2_train,y2_test)

Training accuracy 97.87 %

              precision    recall  f1-score   support

           0       0.97      0.99      0.98       258
           1       0.99      0.97      0.98       258

    accuracy                           0.98       516
   macro avg       0.98      0.98      0.98       516
weighted avg       0.98      0.98      0.98       516

Testing accuracy 93.08 %

              precision    recall  f1-score   support

           0       0.94      0.92      0.93        65
           1       0.92      0.94      0.93        65

    accuracy                           0.93       130
   macro avg       0.93      0.93      0.93       130
weighted avg       0.93      0.93      0.93       130

cross_val accuracy 92.58413461538461 %